<script>
    function statusChangeCallback(response) { // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response); // The current login status of the person.
        if (response.status === 'connected') { // Logged into your webpage and Facebook.
            testAPI();
        } else { // Not logged into your webpage or we are unable to tell.
            console.log("Chua connect");
        }
    }


    function checkLoginState() { // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function (response) { // See the onlogin handler
            statusChangeCallback(response);
        });
    }


    window.fbAsyncInit = function () {
        FB.init({
            appId: '933619503882493',
            cookie: true, // Enable cookies to allow the server to access the session.
            xfbml: true, // Parse social plugins on this webpage.
            version: 'v11.0' // Use this Graph API version for this call.
        });


        FB.getLoginStatus(function (response) { // Called after the JS SDK has been initialized.
            statusChangeCallback(response); // Returns the login status.
        });
    };

    function testAPI() { // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);
            console.log(response);
        });
    }
</script>




<!-- LOGIN START -->
<div id="login_form" class="modal">
    <form class="modal-content animate" action="" method="post">
        <div id="form_login" class="container_login">
            <div class="text-center">
                <h1 class="login_content" style="font-weight: bold;">ĐĂNG NHẬP</h1>
            </div>

            <label for="uname"><b>Tài khoản</b></label>
            <input class="login-user" id="user_login" type="text" placeholder="Nhập tài khoản" name="uname" required>

            <label for="psw"><b>Mật khẩu</b></label>
            <input class="login-pass" id="pass_login" type="password" placeholder="Nhập mật khẩu" name="psw" required>

            <label class="rmb-pass">
                <button class="btn btn-outline-secondary" type="button" id="btnPassword">
                    <span class="fa fa-eye"></span>
                </button>
            </label>

            <button class="btn_login" id="submit_login" type="button">Đăng nhập</button>

            <span class="psw"><a href="#" onclick="quenmk()">Quên mật khẩu</a></span>
            <span class="create-account"><a href="#" onclick="dangky()">Bạn chưa có tài khoản?</a></span>
        </div>
        <div class="container_login">
            <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
            </div>
            <p class="text-center">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                <a href="#" class="facebook btn mybtn"><i class="fa fa-facebook"></i> Login with Facebook</a>
            </p>
            <p class="text-center">
                <a href="#" class="facebook btn mybtn"><i class="fa fa-facebook"></i> Login with Facebook</a>
            </p>
        </div>
    </form>
</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- LOGIN END -->
<!-- SIGN-UP START -->
<div id="signup_form" class="modal1">
    <form class="modal-content animate" action="" method="post">
        <div class="container_login">
            <div class="text-center">
                <h1 class="login_content" style="font-weight: bold;">ĐĂNG KÝ</h1>
            </div>
            <label for="user"><b>Tài khoản</b></label>
            <input class="login-user" id="signin-user" type="text" placeholder="Nhập tài khoản" name="user" required>

            <label for="pass"><b>Mật khẩu</b></label>
            <input class="login-pass" id="signin-pass" type="password" placeholder="Nhập mật khẩu" name="pass" required>

            <label for="signin-repass"><b>Nhập lại mật khẩu</b></label>
            <input class="login-pass" id="signin-repass" type="password" placeholder="Nhập lại mật khẩu" name="signin-repass" required>

            <label for="name"><b>Họ tên</b></label>
            <input class="login-pass" id="signin-name" type="text" placeholder="Nhập họ tên" name="name" required>

            <label for="email"><b>Email</b></label>
            <input class="login-pass" id="signin-email" type="text" placeholder="Nhập email" name="email" required>

            <label for="sdt"><b>Số điện thoại</b></label>
            <input class="login-pass" id="signin-sdt" type="text" placeholder="Nhập số điện thoại" name="sdt" required>

            <button class="btn_signin" type="submit">Đăng Ký</button>
        </div>
    </form>
</div>
<!-- SIGN-UP END -->
<!-- RECOVERY-PASSWORD START -->
<div id="recover_password-form" class="modal2">
    <form class="modal-content animate" action="" method="post">
        <div class="container_login">
            <div class="text-center">
                <h1 class="login_content" style="font-weight: bold;">LẤY LẠI MẬT KHẨU</h1>

                <label for="user-record"><b>Tài khoản</b></label>
                <input id="user-record" class="login-user" type="text" placeholder="Nhập tài khoản" name="user-record" required>

                <label for="old_pass"><b>Mật khẩu cũ</b></label>
                <input id="old_pass" class="login-pass" type="password" placeholder="Nhập mật khẩu cũ" name="psw" required>

                <label for="new_pass"><b>Mật khẩu mới</b></label>
                <input id="new_pass" class="login-pass" type="password" placeholder="Nhập mật khẩu mới" name="psw" required>

                <label for="repass"><b>Nhập lại mật khẩu mới</b></label>
                <input id="repass" class="login-pass" type="password" placeholder="Nhập lại mật khẩu mới" name="psw" required>

                <button class="btn_reset" type="submit" onclick="window.location.href=@Url.Action("Index", "Home")">Cập nhật</button>
            </div>
            
        </div>
    </form>
</div>
<!-- RECOVERY-PASSWORD END -->


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<!-- LOGIN START -->
<script>

    $('#submit_login').click(function () {
        var user = $("#user_login").val();
        var pass = $('#pass_login').val();

        if (user != "" && pass != "") {
            $.ajax({
                url: '@Url.Action("Login", "Account")',
                type: 'POST',
                data: {
                    user: user,
                    pass: pass,
                },
                success: function (result) {
                    if (result == 'True') {
                        location.reload();
                    } else {
                        alert("Tài khoản hoặc mật khẩu không đúng!");
                    }
                },

            });

        }else {
            alert("Tài khoản hoặc mật khẩu không được để trống!");
        }
    });
    //Hiển thị/ẩn password
    const ipnElement = document.querySelector('#pass_login')
    const btnElement = document.querySelector('#btnPassword')

    btnElement.addEventListener('click', function () {

        const currentType = ipnElement.getAttribute('type')

        ipnElement.setAttribute(
            'type',
            currentType === 'password' ? 'text' : 'password'
        )
    })

</script>
<!-- LOGIN END -->
<!-- SIGNIN START -->
<script>
    $(".btn_signin").click(function () {

        var user = $("#signin-user").val();
        var pass = $("#signin-pass").val();
        var fullname = $("#signin-name").val();
        var phone = $("#signin-sdt").val();
        var email = $("#signin-email").val();

        if (user != "" && pass != "" && fullname != "" && phone != "" && pass.length >= 8) {
            $.ajax({
                url: '@Url.Action("Signup","Account")',
                type: 'POST',
                data: {
                    user: user,
                    pass: pass,
                    fullname: fullname,
                    sdt: phone,
                    email: email,
                },
                success: function (result) {
                    if (result == 'True') {
                        location.reload();
                    }
                },
                error: function () {
                    alert("CC");
                }
            });
        } else {
            if (user == "") {
                alert("User không được để trống.");
            }

            if (pass == "") {
                alert("Password không được để trống.");
            }

            if (phone == "") {
                alert("Số điện thoại không được để trống.");
            }

            if (fullname == "") {
                alert("Họ tên không được để trống.");
            }
            if (email == "") {
                alert("email phải đúng định dạng.");
            }

        }
    });
</script>
<!-- SIGNIN END -->
<!-- Kiểm tra user đã tồn tại chưa-->
<script>
    var inputUser_signup = document.getElementById('signin-user');

    // When click outside inputUser
    inputUser_signup.onblur = function () {
        var user = $('#signin-user').val();
        $.ajax({
            url: '@Url.Action("checkUser", "Account")',
            type: 'POST',
            data: {
                user: user,
            },
            success: function (result) {
                if (result == 'True') {
                    alert("User này đã tồn tại.")
                    setTimeout(function () {
                        inputUser_signup.focus();
                    }, 0);
                    return false;
                }
            }
        });
    }
</script>

<!--kiểm tra sđt có tài khoản chưa-->
<script>
    var inputPhone_signup = document.getElementById('signin-sdt');

    // When click outside inputPhone_signup
    inputPhone_signup.onblur = function () {
        if (inputPhone_signup.value.length == 10) {
            var phone = $('#signin-sdt').val();
            $.ajax({
                url: '@Url.Action("checkSDT", "Account")',
                type: 'POST',
                data: {
                    sdt: phone,
                },
                success: function (result) {
                    if (result == 'True') {
                        alert("Số điện thoại này đã được sử dụng.")
                    }
                }
            });
        } else {
            alert("Số điện thoại không đúng định dạng.")
            setTimeout(function () {
                inputPhone_signup.focus();
            }, 0);
            return false;
        }
    }
</script>

<!-- Kiểm tra số lượng pass-->
<script>
    var inputPass = document.getElementById("signin-pass");

    inputPass.onblur = function () {
        var Pass = $('#signin-pass').val();

        if (Pass.length < 8) {
            alert("Password dưới 8 ký tự. Mời nhập lại.")
            setTimeout(function () {
                inputPass.focus();
            }, 0);
            return false;
        }
    }
</script>

<!--kiểm tra xác nhận mật khẩu-->
<script>
    var inputConfirmPass = document.getElementById("signin-repass");

    inputConfirmPass.onblur = function () {
        var Pass = $('#signin-pass').val();
        var ConfirmPass = $('#signin-repass').val();

        if (Pass != ConfirmPass) {
            alert("Password không trùng nhau.");
            setTimeout(function () {
                inputConfirmPass.focus();
            }, 0);
            return false;
        }
    }
</script>

<!-- CHANGE PASS-->
<script>
    $(".btn_reset").click(function () {
        var user = $("#user-record").val();
        var pass1 = $("#old_pass").val();
        var pass = $('#new_pass').val();
        if (  user != "" && pass != ""){
            $.ajax({
                url: '@Url.Action("changePass", "Account")',
                type: 'POST',
                data: {
                    user: user,
                    old_pass:pass1,
                    new_pass: pass,

                },
                success: function (result) {
                    alert("Tài khoản đã được đổi thành công")
                    location.reload();
                },

            });

        } else {
            alert("Nhập đúng mật khẩu cũ")
            alert("Tài khoản hoặc mật khẩu không được để trống!");
        }
    });
</script>

<!-- KIEM TRA TRUNG PASS-->

<script>
    var inputRePass = document.getElementById("repass");

    inputRePass.onblur = function () {
        var Pass = $('#new_pass').val();
        var RePass = $('#repass').val();

        if (Pass != RePass) {
            alert("Password không trùng nhau.");
            setTimeout(function () {
                inputRePass.focus();
            }, 0);
            return false;
        }
    }
</script>


<!-- Đăng xuất-->

<script>
    function refresh() {
        $.ajax({
            url: '@Url.Action("Logout", "Account")',
            type: 'POST',
            async: false,
            cache: false,
            success: function () {
                location.reload();
            }
        });
    }
</script>
