@model IEnumerable<Error404_TLT.Models.ViewsModel.ProductOfCartModel>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{double total = 0;}


@{
    Error404_TLT.Controllers.ProductController productController = new Error404_TLT.Controllers.ProductController();
    var user = Session["user"];
}

<!-- MAIN-CONTENT-SECTION START -->
<section class="main-content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- SHOPPING-CART SUMMARY START -->
                <h2 class="page-title">
                    Giỏ hàng
                    <span class="shop-pro-item">
                        Có<span class="num-products"></span>sản phẩm trong giỏ hàng
                    </span>
                </h2>
                <!-- SHOPPING-CART SUMMARY END -->
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="discount">
                    <form action="" method="post">
                        <label for="discount-code">Bạn có mã giảm giá?</label>
                        <input type="text" id="discount-code" name="discount-code" placeholder="Nhập mã code tại đây...">
                        <button class="apply-discount" type="submit">Áp dụng</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- CART TABLE_BLOCK START -->
                <div class="table-responsive">
                    <!-- TABLE START -->
                    <table class="table table-bordered" id="cart-summary">
                        <!-- TABLE HEADER START -->
                        <thead>
                            <tr>
                                <th class="cart-product" style="text-align: center;">Sản phẩm</th>
                                <th class="cart-description" style="text-align: center;">Mô tả</th>
                                <th class="cart-unit text-right" style="text-align: center;">Giá</th>
                                <th class="cart_quantity text-center" style="text-align: center;">Số lượng</th>
                                <th class="cart-total text-right" style="text-align: center;">Tổng tiền</th>
                                <th class="cart-delete text-right" style="text-align: center;">Xóa</th>
                            </tr>
                        </thead>
                        <!-- TABLE HEADER END -->
                        <!-- TABLE BODY START -->
                        <tbody class="cart-row-product">
                            @foreach (var item in Model)
                            {
                                <!-- SINGLE CART_ITEM START -->
                                <tr>
                                    <td class="takeProductId" style="display: none">
                                        <a href="#">@item.ProductId</a>
                                    </td>
                                    <td class="cart-product">
                                        <a href="@Url.Action("Details", "Error404", new { id = item.ProductId})"><img alt="@item.ProductName" src="~/Assets/@item.ProductImage"></a>
                                    </td>
                                    <td class="cart-description">
                                        <p class="product-name"><a href="@Url.Action("Details", "Error404", new { id = item.ProductId})">@item.ProductName</a></p>
                                    </td>
                                    <td class="cart-unit">
                                        <ul class="price text-right">
                                            <li class="price">@{ var price = String.Format("{0:0,0 VND}", item.ProductPrice);}@price</li>
                                        </ul>
                                    </td>
                                    <td class="cart_quantity text-center">
                                        <input type="text" name="qtybutton" value="@item.ProductAmount" maxlength="1" size="1" />
                                    </td>

                                    <td class="cart-total">
                                        @{double money = (double)(item.ProductPrice * item.ProductAmount);}
                                        @{ var newmoney = String.Format("{0:0,0 VND}", money);}
                                        @{ total = total + (double)(item.ProductPrice * item.ProductAmount);}
                                        @newmoney
                                    </td>
                                    <td class="cart-delete text-center">
                                        <a href="#" class="cart_quantity_delete" title="Delete"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                                <!-- SINGLE CART_ITEM END -->
                            }

                        </tbody>
                        <!-- TABLE BODY END -->
                        <!-- TABLE FOOTER START -->
                        <tfoot>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                            </tr>
                            <tr>
                                <td class="total-price-container text-right" colspan="5">
                                    <span>Tổng</span>
                                </td>
                                <td id="total-price-container" class="price" colspan="1">
                                    <!--  <span id="total-price"> </span>  -->
                                    @{ var totalmoney = String.Format("{0:0,0 VND}", total);}
                                    <strong>@totalmoney</strong>
                                </td>
                            </tr>
                        </tfoot>
                        <!-- TABLE FOOTER END -->
                    </table>
                    <!-- TABLE END -->
                </div>
                <!-- CART TABLE_BLOCK END -->
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- RETURNE-CONTINUE-SHOP START -->
                <div class="returne-continue-shop">
                    <a href="@Url.Action("Home", "Error404")" class="continueshoping"><i class="fa fa-chevron-left"></i>Tiếp tục mua sắm</a>
                    <a href="@Url.Action("CheckOut", "Error404", new { user = user })" class="procedtoCheckOut">Tiến hành đặt hàng</a>
                </div>
                <!-- RETURNE-CONTINUE-SHOP END -->
            </div>
        </div>
    </div>
</section>
<!-- MAIN-CONTENT-SECTION END -->


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    // Khi thay đổi số lượng
    $(".cart-plus-minus").change(function () {

        var quantity = $(this).val();
        var productRow = $(this).parent().parent();
        var productId = productRow.children(".takeProductId").children().text();

        $.ajax({
            url: '@Url.Action("change_Cart", "Product")',
            type: 'POST',
            data: {
                id: productId,
                sl: quantity,
            },
            success: function () {
            },
            error: function () {
                alert('Click Slow! Please');
            }
        });

    });



    // Xóa sản phẩm trong cart
    $(".cart_quantity_delete").click(function () {
        var parent = $(this).parent().parent();
        var id = $(parent).children(".takeProductId").children().text();
        $.ajax({
            url: '@Url.Action("delProduct_Cart", "Product")',
            type: 'POST',
            data: {
                id: id,
            },
            success: function (result) {
                alert("Xóa sản phẩm thành công.")
            }
        });
    });
</script>