@model Error404_TLT.Models.ViewsModel.CustomerViewModel
@{ 
    ViewBag.Title = Model.khachHang.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    Error404_TLT.Models.BUS.AccountBUS accountBUS = new Error404_TLT.Models.BUS.AccountBUS();
    string user = "";
    if (Session["user"] != null)
    {
        user = Session["user"].ToString();
    }
}

<!-- MAIN-CONTENT-SECTION START -->
<section class="main-content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- BSTORE-BREADCRUMB START -->
                <div class="bstore-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Trang chủ", "Home", "Error404")</li><!--chạy đê-->
                        <li class="breadcrumb-item active" aria-current="page">Tài Khoản</li>
                    </ol>
                </div>
                <!-- BSTORE-BREADCRUMB END -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <!-- ACCOUNT-INFO-TEXT START -->
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="account-info">
                        <div class="single-account-info">
                            <ul>
                                <li id="btn-thongtintaikhoan"><a href="#"><i class="fa fa-user"></i><span>Thông tin tài khoản</span>	</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="account-info">
                        <div class="single-account-info">
                            <ul>
                                <li id="btn-quanlydonhang"><a href="#"><i class="fa fa-list-ol"></i><span>Quản lý đơn hàng</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ACCOUNT-INFO-TEXT END -->
            </div>

            <!-- TEXT START-->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <!-- PERSONAL-INFOMATION START -->
                <div id="my-info" class="personal-infomation">
                    <form class="primari-box personal-info-box" id="personalinfo" method="post" action="#">
                        <h3 class="box-subheading">Thông tin tài khoản của bạn</h3>
                        <div class="personal-info-content">
                            <div class="form-group primary-form-group p-info-group">
                                <label for="firstname">Họ tên<sup>*</sup></label>
                                <input type="text" value="@Model.khachHang.FullName" name="name" id="name" class="form-control input-feild" placeholder="Nhập họ tên">
                            </div>
                            <div class="form-group primary-form-group p-info-group">
                                <label for="phonenumber">Số điện thoại<sup>*</sup></label>
                                <input type="text" value="@Model.khachHang.SDT" name="phonenumber" id="phonenumber" class="form-control input-feild" placeholder="Nhập số điện thoại">
                            </div>
                            <div class="form-group primary-form-group p-info-group">
                                <div class="province">
                                    <label for="province">Tỉnh/Thành<sup>*</sup></label>
                                    <select class="form control" id="province" name="province" onchange="selectCity();">
                                        <option value="@Model.khachHang.ThanhPho" selected>@Model.khachHang.ThanhPho</option>
                                    </select>
                                </div>
                                <div class="district">
                                    <label for="district">Quận Huyện<sup>*</sup></label>
                                    <select class="form control" id="district" name="district" onchange="selectDistrict();">
                                        <option value="@Model.khachHang.Quan" selected>@Model.khachHang.Quan</option>
                                    </select>
                                </div>
                                <div class="ward">
                                    <label for="ward">Phường/Xã<sup>*</sup></label>
                                    <select class="form control" id="ward" name="ward" aria-placeholder="Quận Huyện">
                                        <option value="@Model.khachHang.Phuong" selected>@Model.khachHang.Phuong</option>
                                    </select>
                                </div>
                                <div class="address">
                                    <label for="address">Địa chỉ<sup>*</sup></label>
                                    <textarea type="text" value="@Model.khachHang.Address" name="address" rows="5" id="address" placeholder="Nhập địa chỉ">@Model.khachHang.Address</textarea>
                                </div>
                            </div>
                            <div class="submit-button p-info-submit-button">
                                <button type="submit" class="btn btn-primary" id="upInfo">Cập nhật</button>
                                <span class="required-field"><sup>*</sup>Phần bắt buộc</span>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- PERSONAL-INFOMATION END -->
                <!--LISTBILL START-->
                <div id="my-order" class="personal-infomation" style="display:none">
                    <table class="tabledg" style="width: 100%; margin-top: 0px">
                        <tr id="table_bill">
                            <th>
                                <p class="tablea">ID</p>
                            </th>
                            <th>
                                <p class="tablea">Ngày đặt hàng</p>
                            </th>
                            <th>
                                <p class="tablea">Sản phẩm</p>
                            </th>
                            <th>
                                <p class="tablea">Tổng</p>
                            </th>
                        </tr>
                        @{
                            IEnumerable<Error404_TLT.Models.Error404Entity.Order> listOrder = accountBUS.loadBill(Model.khachHang.User);

                        }

                        @foreach (var item in listOrder)
                        {
                            <tr>
                                <td>

                                    <p class="tableb billId">@item.MaDH</p>
                                </td>
                                <td style="width: 200px">
                                    <p class="tableb">@item.NgayDatHang</p>
                                </td>
                                @{
                                    string listProduct = "";
                                    foreach (var item1 in item.CTOrder)
                                    {
                                        listProduct += item1.SanPham.TenSP + ", ";
                                    }
                                }
                                <td style="width: 350px">
                                    <p class="tableb">@listProduct</p>
                                </td>
                                <td>
                                    <p class="tableb">$ @item.TongDH</p>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <!--LISTBILL END-->
            </div>
            <!-- TEXT END-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- BACK TO HOME START -->
                <div class="home-link-menu">
                    <ul>
                        <li><a href="@Url.Action("Home", "Error404")"><i class="fa fa-chevron-left"></i> Trở về</a></li>
                    </ul>
                </div>
                <!-- BACK TO HOME END -->
            </div>
        </div>
    </div>
</section>
<!-- MAIN-CONTENT-SECTION END -->

<script>
    $("#btn-thongtintaikhoan").click(function () {
        $("#my-info").css("display", "block");
        $("#my-order").css("display", "none");
    });
    $("#btn-quanlydonhang").click(function () {
        $("#my-order").css("display", "block");
        $("#my-info").css("display", "none");
    });
</script>




<!-- GET API LOCATION TO AJAX -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var province = document.getElementById("province");
        window.onload = function () {
            $.ajax({
                url: "https://provinces.open-api.vn/api/",
                method: 'GET',
                success: function (response) {
                    var str = '<option value="@Model.khachHang.ThanhPho" selected>@Model.khachHang.ThanhPho</option>';
                    for (var i = 0; i < response.length; i++) {
                        str = str + "<option class = 'provinceID' data-province='" + response[i].code + "'>" + response[i].name + "</option> "
                    }
                    province.innerHTML = str;
                }
            });
        }
    }, false)

    function selectCity() {
        var selectedBox = document.getElementById("province")
        var selectedValue = selectedBox.options[selectedBox.selectedIndex].getAttribute('data-province')
        var district = document.getElementById('district');
        $.ajax({
            url: "https://provinces.open-api.vn/api/p/" + selectedValue + "?depth=2",
            method: 'GET',
            success: function (response) {
                var str = "<option selected>Chọn Quận/Huyện</option>";
                for (var i = 0; i < response.districts.length; i++) {
                    if (response.districts[i].province_code == selectedValue) {
                        str = str + "<option class='districtID' data-district='" + response.districts[i].code + "'>" + response.districts[i].name + "</option>";
                    }

                }
                district.innerHTML = str;
            }
        });

    };


    function selectDistrict() {
        var selectedBox = document.getElementById("district")
        var selectedValue = selectedBox.options[selectedBox.selectedIndex].getAttribute('data-district')
        var ward = document.getElementById('ward');
        $.ajax({
            url: "https://provinces.open-api.vn/api/d/" + selectedValue + "?depth=2",
            method: 'GET',
            success: function (response) {
                var str = "<option selected>Chọn Phường/Xã</option>";
                for (var i = 0; i < response.wards.length; i++) {
                    str = str + "<option class='wardID' data-ward='" + response.wards[i].code + "'>" + response.wards[i].name + "</option>";
                }
                ward.innerHTML = str;
            }
        });
    }
</script>


<!-- Thay đổi thông tin-->


<script>
    $("#upInfo").click(function () {
        var name = $("#name").val();
        var sdt = $("#phonenumber").val();
        var province = $("#province").val();
        var district = $("#district").val();
        var ward = $("#ward").val();
        var address = $("#address").val();

        if (name != "" && sdt != "" && sdt.length == 10) {
            $.ajax({
                url: '@Url.Action("changeInfo", "Account")',
                type: 'POST',
                data: {
                    sdt: sdt,
                    fullname: name,
                    address: address,
                    ThanhPho: province,
                    Quan: district,
                    Phuong: ward,
                },
                success: function () {
                    alert("Cập nhật thông tin thành công!");
                    location.reload();
                }
            });
        }
    });
</script>